@font-face
 font-family: "Norwester"
 src: url("../webfonts/norwester.eot")
 src: url("../webfonts/norwester.eot") format('embedded-opentype'), url("../webfonts/norwester.woff") format("woff"), url("../webfonts/norwester.ttf") format("truetype"), url("../webfonts/norwester.svg") format("svg")

$header-font: 'Norwester', sans-serif
$body-font: 'Source Sans Pro', sans-serif
$dark-text: #4a4a4a
$light-text: #636363

$blue: #25AAE1
$light-blue: #4DBEF0

$tablet-width: 768px
$desktop-width: 1024px

@mixin tablet 
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) 
    @content


@mixin desktop 
  @media (min-width: #{$desktop-width}) 
    @content

@mixin mobile
  @media (max-width: #{$tablet-width - 1px})
    @content
