* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #151515;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-family: "Rajdhani", sans-serif;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.h1 {
  font-size: 6em;
  line-height: 1em;
  letter-spacing: 4px;
  font-smooth: always;
}

a {
  text-decoration: none;
  color: inherit;
}

.site {
  max-width: 1160px;
  margin: auto;
}

.header {
  height: 560px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.header__branding {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 2;
}

.header__branding .logo {
  display: block;
  width: 176px;
  height: 78px;
  background: url(../images/logo.jpg) no-repeat top left;
  margin: auto;
  margin-top: 30px;
}

.header__branding .copy {
  position: absolute;
  left: 80px;
  top: 160px;
}

.header__branding .copy .h1 {
  min-width: 760px;
  color: #0f213c;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.5);
}

.header__branding .copy .subhead {
  display: block;
  font-size: 20px;
  line-height: 1.25;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 190px;
  font-weight: 600;
}

.header__hero {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-size: cover;
  position: relative;
}

.header__hero:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  background-image: url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.header__hero .button {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
}

.intro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 80px;
}

.intro__header {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.intro__header .wrap {
  padding: 60px;
  background: #234F8E;
}

.intro__header .wrap h4 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.5em;
  text-align: right;
}

.intro__text {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.intro__text .wrap {
  padding: 60px 80px;
}

.packages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #ebebeb;
  padding: 80px 80px 40px 80px;
  position: relative;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 160px;
}

.packages:before {
  content: ' ';
  display: block;
  width: 128px;
  height: 128px;
  background: #4DBEF0;
  position: absolute;
  top: 110px;
  left: 120px;
  z-index: 1;
}

.packages__copy {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 2;
  padding: 80px;
}

.packages__copy .packages__header {
  font-size: 3em;
  color: #234F8E;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 32px;
}

.packages .package-list {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.packages .package-list .package {
  background: #fff;
  padding: 50px 40px;
  margin-bottom: 30px;
  border-top: 3px solid #4DBEF0;
  -webkit-flex-basis: 45%;
  -moz-flex-basis: 45%;
  -ms-flex-basis: 45%;
  flex-basis: 45%;
  -webkit-flex-basis: calc(50% - 15px);
  -moz-flex-basis: calc(50% - 15px);
  -ms-flex-basis: calc(50% - 15px);
  flex-basis: calc(50% - 15px);
}

.packages .package-list .package__name {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.packages .package-list .package .unit__name {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #959595;
  margin-top: 0px;
}

.packages .package-list .package .photo {
  width: 100%;
}

.packages .package-list .package .specs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 16px;
}

.packages .package-list .package .specs .spec {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.packages .package-list .package .specs .spec .value {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  color: #234F8E;
  text-align: center;
  margin-top: 24px;
}

.packages .package-list .package .specs .spec .unit {
  display: block;
  font-weight: 500;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #999999;
}

.packages .package-list .package .specs .purifier {
  background: url(../images/icon_purifier.png) no-repeat top center;
}

.packages .package-list .package .specs .cooling {
  background: url(../images/icon_cooling.png) no-repeat top center;
}

.packages .package-list .package .specs .heating {
  background: url(../images/icon_heating.png) no-repeat top center;
}

.packages .package-list .package .specs .energy {
  background: url(../images/icon_energy.png) no-repeat top center;
}

.services {
  padding: 80px;
  max-width: 980px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 60px;
}

.services .left {
  width: 300px;
  margin-right: 60px;
}

.services .left .services__title {
  display: block;
  font-size: 7em;
  line-height: 0.8em;
  text-align: right;
  overflow-wrap: break-word;
  color: #234F8E;
}

.services .right .service {
  margin-bottom: 90px;
}

.services .right .service__title {
  font-size: 2em;
  font-weight: 800;
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 96px;
  margin-bottom: 30px;
  display: inline-block;
}

.services .right .service__title img {
  display: inline-block;
  margin-right: 10px;
  width: 24px;
}

.services .right .service .installation {
  background: url(../images/img_installation.jpg) no-repeat;
}

.services .right .service .serv {
  background: url(../images/img_service.jpg) no-repeat;
}

.services .right .service .maintenance {
  background: url(../images/img_maintenance.jpg) no-repeat;
}

.ducted {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 920px;
  margin: auto;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 320px;
}

.ducted .video {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 45%;
  -moz-flex-basis: 45%;
  -ms-flex-basis: 45%;
  flex-basis: 45%;
  -webkit-flex-basis: calc(50% - 30px);
  -moz-flex-basis: calc(50% - 30px);
  -ms-flex-basis: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
}

.ducted .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  order: 1;
  -webkit-flex-basis: 45%;
  -moz-flex-basis: 45%;
  -ms-flex-basis: 45%;
  flex-basis: 45%;
  -webkit-flex-basis: calc(50% - 30px);
  -moz-flex-basis: calc(50% - 30px);
  -ms-flex-basis: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
}

.ducted .title h2 {
  font-size: 5em;
  font-weight: 700;
  line-height: 0.8em;
  color: #234F8E;
  margin-bottom: 40px;
}

.ducted .title .button {
  margin-top: 30px;
}

.contact {
  background: #234F8E;
  color: #fff;
}

.contact .wrap {
  max-width: 1160px;
  margin: auto;
  padding: 160px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.contact .wrap .details {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.contact .wrap .details h2 {
  font-weight: 500;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 60px;
}

.contact .wrap .details h2 span {
  display: block;
}

.contact .wrap .details p {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  opacity: 0.5;
}

.contact .wrap .details ul {
  list-style: none;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.contact .wrap .form {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-left: 60px;
}

.contact .wrap .form .map {
  margin-bottom: 60px;
}

.contact .wrap .form .map .address {
  margin-top: 0;
  font-size: 0.8em;
  color: #4DBEF0;
}

.contact .wrap .form p {
  display: block;
  width: 70%;
}

.contact .wrap .form form {
  margin-top: 30px;
}

.contact .wrap .form form input[type="text"] {
  padding: 10px;
  display: block;
  width: 50%;
  margin-bottom: 30px;
}

.contact .wrap .form .button {
  margin-top: 30px;
}

.button {
  display: inline-block;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  background: #4DBEF0;
  padding: 12px 24px;
}

.line {
  display: block;
  width: 64px;
  height: 6px;
  border: none;
  background: #d8d8d8;
  margin-left: 0;
  margin-bottom: 32px;
}
 

 /*# sourceMappingURL= page.css.map */