@font-face {
  font-family: "Norwester";
  src: url("../webfonts/norwester.eot");
  src: url("../webfonts/norwester.woff") format("woff"), url("../webfonts/norwester.ttf") format("truetype"), url("../webfonts/norwester.svg") format("svg");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
  overflow-x: hidden;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-family: "Norwester", sans-serif;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

.h1 {
  font-size: 6em;
  line-height: 1.25em;
  letter-spacing: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.5em;
  color: #636363;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
}

.site {
  max-width: 1280px;
  margin: auto;
  margin-top: 64px;
}

@media (max-width: 767px) {
  .site {
    margin-top: 0;
  }
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 256px;
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 32px;
  }
}

.header__branding {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 2;
}

.header__branding .logo {
  display: block;
  margin: 32px auto;
}

.header__branding .logo img {
  width: 420px;
}

@media (max-width: 767px) {
  .header__branding .logo img {
    width: 280px;
    margin-left: 32px;
  }
}

.header__branding .copy {
  position: relative;
  background: #25AAE1;
  padding: 64px;
  padding-top: 320px;
}

@media (max-width: 767px) {
  .header__branding .copy {
    padding: 32px;
  }
}

.header__branding .copy .h1 {
  min-width: 760px;
  color: #fff;
  margin-bottom: 32px;
  position: absolute;
  top: 64px;
  z-index: 2;
}

@media (max-width: 767px) {
  .header__branding .copy .h1 {
    font-size: 4em;
    position: relative;
    min-width: auto;
    top: 0;
  }
}

.header__branding .copy .h1 span {
  display: block;
}

@media (max-width: 767px) {
  .header__branding .copy .h1 span {
    display: inline;
  }
}

.header__branding .copy .subhead {
  display: block;
  font-size: 0.8em;
  line-height: 1.25;
  font-family: "Norwester", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #b0b0b0;
  transform: rotate(-90deg);
  position: absolute;
  top: 208px;
  left: -144px;
}

.header__branding .masthead {
  position: absolute;
  height: 100%;
  width: 75%;
  right: 0;
  left: 25%;
  top: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .header__branding .masthead {
    display: none;
  }
}

.intro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .intro {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.intro__header {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.intro__header .wrap {
  padding: 64px;
}

@media (max-width: 767px) {
  .intro__header .wrap {
    padding: 32px;
  }
}

.intro__header .wrap h4 {
  color: #4a4a4a;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 3em;
  text-align: right;
}

@media (max-width: 767px) {
  .intro__header .wrap h4 {
    font-size: 2em;
    text-align: left;
  }
}

.intro__text {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.intro__text .wrap {
  padding: 64px 80px;
}

@media (max-width: 767px) {
  .intro__text .wrap {
    padding: 32px;
  }
}

.packages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 5em;
  position: relative;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .packages {
    margin-bottom: 32px;
    padding: 32px;
  }
}

.packages__copy {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 2;
  margin-bottom: 4em;
}

.packages__copy .packages__header {
  font-size: 4em;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 4px;
  background: #25AAE1;
  padding: 32px;
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .packages__copy .packages__header {
    font-size: 2em;
    margin-bottom: 32px;
  }
}

.packages__copy p {
  padding: 0 32px;
}

@media (max-width: 767px) {
  .packages__copy p {
    padding: 0;
  }
}

.packages .package-list {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 64px;
}

@media (max-width: 767px) {
  .packages .package-list {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 32px;
  }
}

.packages .package-list .package {
  position: relative;
  background: #fff;
  padding: 2em;
  margin-bottom: 10em;
  border: 1px solid #e3e3e3;
  -webkit-flex-basis: 45%;
  -moz-flex-basis: 45%;
  -ms-flex-basis: 45%;
  flex-basis: 45%;
  -webkit-flex-basis: calc(50% - 1em);
  -moz-flex-basis: calc(50% - 1em);
  -ms-flex-basis: calc(50% - 1em);
  flex-basis: calc(50% - 1em);
}

.packages .package-list .package__name {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  color: #636363;
  text-align: center;
  margin-bottom: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 32px;
}

.packages .package-list .package .unit__name {
  color: #636363;
  margin-top: 0;
}

.packages .package-list .package .photo {
  width: 100%;
}

.packages .package-list .package .specs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1em;
}

.packages .package-list .package .specs .spec {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.packages .package-list .package .specs .spec .value {
  font-size: 0.875em;
  color: #25AAE1;
  text-align: center;
  margin-top: 24px;
  font-weight: 700;
}

.packages .package-list .package .specs .spec .unit {
  font-family: "Norwester", sans-serif;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #969696;
}

.packages .package-list .package .specs .purifier {
  background: url(../images/icon_purifier.png) no-repeat top center;
}

.packages .package-list .package .specs .cooling {
  background: url(../images/icon_cooling.png) no-repeat top center;
}

.packages .package-list .package .specs .heating {
  background: url(../images/icon_heating.png) no-repeat top center;
}

.packages .package-list .package .specs .energy {
  background: url(../images/icon_energy.png) no-repeat top center;
}

.packages .package-list .package .price {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Norwester", sans-serif;
  font-size: 1.5em;
  color: #fff;
  background: #4a4a4a;
  padding: 8px 16px;
  position: absolute;
  bottom: -76px;
  left: 50%;
  transform: translateX(-50%);
}

.services {
  padding: 80px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 80px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 767px) {
  .services {
    padding: 32px;
    margin-bottom: 32px;
  }
}

.services .left {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 128px;
}

@media (max-width: 767px) {
  .services .left {
    margin-right: 0;
  }
}

.services .left .services__title {
  display: block;
  font-size: 7em;
  line-height: 1em;
  text-align: right;
  overflow-wrap: break-word;
  color: #25AAE1;
}

@media (max-width: 767px) {
  .services .left .services__title {
    text-align: left;
    font-size: 3em;
    margin-bottom: 32px;
  }
}

.services .right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.services .right .service {
  margin-bottom: 96px;
}

.services .right .service__title {
  font-size: 2em;
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 80px;
  padding-top: 192px;
}

.services .right .service .installation {
  background: url(../images/service_installation.jpg) no-repeat center;
  background-size: cover;
}

.services .right .service .serv {
  background: url(../images/service_service.jpg) no-repeat center;
  background-size: cover;
}

.services .right .service .maintenance {
  background: url(../images/service_maintenance.jpg) no-repeat center;
  background-size: cover;
}

.ducted {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 80px;
  margin: auto;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 20em;
  background: #f0f0f0;
}

@media (max-width: 767px) {
  .ducted {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 64px 32px;
    margin-bottom: 0;
  }
}

.ducted .video {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.ducted .video .youtube {
  width: 100%;
}

.ducted .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 767px) {
  .ducted .title {
    text-align: center;
  }
}

.ducted .title h2 {
  font-size: 4em;
  line-height: 1em;
  color: #25AAE1;
  margin-bottom: 32px;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .ducted .title h2 {
    font-size: 1.5em;
  }
}

.ducted .title .button {
  margin-top: 30px;
}

.contact {
  background: #25AAE1;
  color: #fff;
}

.contact .wrap {
  max-width: 1160px;
  margin: auto;
  padding: 160px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media (max-width: 767px) {
  .contact .wrap {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 64px 32px;
  }
}

.contact .wrap .details {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 767px) {
  .contact .wrap .details {
    margin-bottom: 64px;
    text-align: center;
  }
}

.contact .wrap .details h2 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .contact .wrap .details h2 {
    margin-bottom: 32px;
  }
}

.contact .wrap .details h2 span {
  display: block;
}

@media (max-width: 767px) {
  .contact .wrap .details h2 span {
    display: inline;
  }
}

.contact .wrap .details .map {
  margin-bottom: 60px;
}

.contact .wrap .details .map .address {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.contact .wrap .details p {
  display: inline-block;
  color: #fff;
}

.contact .wrap .details ul {
  list-style: none;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}

.contact .wrap .form {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 128px;
}

@media (max-width: 767px) {
  .contact .wrap .form {
    padding: 0;
    text-align: center;
  }
}

.contact .wrap .form p {
  display: block;
  color: #fff;
  margin-bottom: 80px;
}

.contact .wrap .form form {
  margin-top: 32px;
}

.contact .wrap .form form input[type="text"] {
  padding: 16px;
  display: block;
  width: 100%;
  margin-bottom: 32px;
  font-size: 16px;
}

.contact .wrap .form .button {
  margin-top: 30px;
}

.button {
  display: inline-block;
  font-family: "Norwester", sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(89deg, #FF8A30 0%, #DB2A22 100%);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 18px 24px;
  border: none;
  outline: none;
}

.line {
  display: block;
  width: 64px;
  height: 6px;
  border: none;
  background: #fff;
  margin-left: 0;
  margin-bottom: 32px;
}
 

 /*# sourceMappingURL= page.css.map */